$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "sysplayground.scss";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Incompatible browser message display rule */
.js #no-js-msg {
    display: none;
}

.canvas #no-canvas-msg {
    display: none;
}

.no-js .show-if-supported,
.no-canvas .show-if-supported {
    display: none;
}

/* Taken from Bootstrap Sticky footer example
 * http://getbootstrap.com/examples/sticky-footer/
 */
#chapter-index-video-lessons .footer {
    background-color: #f5f5f5;
}

#chapter-index-video-lessons .footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

#chapter-index-video-lessons .footer .container .text-muted {
    margin: 20px 0;
    text-align: center;
}

#chapter-index-video-lessons .navbar {
    border-radius: 0px;
}
