/* hack for the gcc options + program args + compile button toolbar */
#compile-opts-container .col-sm-1,
#compile-opts-container .col-sm-4,
#compile-opts-container .col-sm-5 {
    padding: 1px;
}

#compile-opts-container .row {
    margin: 0px;
    padding: 1px;
}

#compile-opts-container input {
    padding: 2px;
    height: 20px;
}

#compile-opts-container .control-label {
    padding-right: 2px;
}

/* Editor tabs bar */
#editor-tabs-bar {
    padding: 2px 2px 0px 2px;
    border: 0px;
}

#editor-tabs-bar a {
    padding: 2px 10px;
}

/* The Ace search field somehow inherited a white font on a white background,
 * so reverting it.
 */
.ace-search-field {
    color: initial;
}

#doc-container {
    padding: 5px;
}

#doc-container > h3 {
    margin-top: 0px;
}

#editor-container {
    border: 0px;
}

/* Editor options toolbar */
#editor-opts-container .navbar {
    min-height: 26px !important;
    padding: 2px;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

#editor-opts-container .navbar-form {
    margin: 0px;
}

#editor-opts-container .navbar-form > div,
#editor-opts-container .row {
    padding: 0 2px;
}

#editor-opts-container .form-control,
#editor-opts-container .btn-sm {
    padding: 1px 5px;
    height: 22px;
    width: 100%;
}

#editor-font-size {
    padding-right: 0px !important;
}

/* tty full screen support */
#tty-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

body {
    overflow: hidden;
}

#tty {
    width: 100%;
    height: 100%;
}

#tty-container > button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.man-page-tab {
    width: 100%;
    height: 100%;
}

.man-page-tab > iframe {
    width: 100%;
    height: 100%;
}
