<div>
  <div>
    <!--<ul class="pager">
      <li class="previous">
        <a data-bind="attr: { href: getNavUrlPrev }">&larr; Previous</a>
      </li>
      <li>
        <h3 style="display: inline" data-bind="with: currentSection"><span data-bind="text: name"></span></h3>
      </li>
      <li class="next">
        <a data-bind="attr: { href: getNavUrlNext }">Next &rarr;</a>
      </li>
    </ul>-->
  </div>
  <div id="lesson-video-container"></div>
  <!-- TODO: Add list of topics as video poster -->
  <!-- <p data-bind="text: currentVideoTopics"></p> -->
  <p data-bind="html: doc"></p>
</div>
