// Paths can be relative to project root, the src/ folder, and the current file
// However, prefer paths relative to "src/" over other styles.

// CSS imports will be inlined during distribution build
@import "bower_modules/jquery-ui-layout/source/stable/layout-default.css";
@import "bower_modules/videojs/dist/video-js.min.css";
@import "bower_modules/jquery-notific8/dist/jquery.notific8.min.css";

$icon-font-path: 'bower_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import "bower_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "styles/unsupported-browser-message";
@import "styles/lesson-navigation-pager";
@import "styles/not-found-page";
@import "styles/video-activity-page";
@import "styles/playground-layout";
@import "styles/editor-pane";
@import "styles/manpages-search-tab";
@import "styles/video-search-tab";
@import "styles/editor";
@import "styles/playground-doc-pane";
@import "styles/playground-term-pane";
@import "styles/compiler-state-label";
@import "styles/vm-state-label";
@import "styles/footer";
@import "styles/file-browser";

#page {
	margin-top: 80px;
}

.label-default-light {
    @include label-variant(lighten($label-default-bg, 25%));
}
