#tty0 {
    width: 100%;
    height: 100%;
}

#tty1 {
    width: 100%;
    height: 100%;
}

.tty-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}

.tty-buttons > button {
    float: right;
}

/* full screen support */
#tty-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

#tty-container-two {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 100;
    display: none;
}
