<div id="layout">
  <div id="navbar-container">
    <div class="navbar navbar-default" role="navigation" data-bind="style: { marginTop: navbarTopMargin }">
        <div data-bind="if: showLessonNavigation">
            <lesson-navigation-pager params="activityData: activityData, listCssClass: 'nav navbar-nav'"></lesson-navigation-pager>
        </div>
    </div>
  </div>

  <div id="code-container">
    <editor-pane params="editorPaneTabs: editorPaneTabs, initialTabIndex: 1"></editor-pane>
  </div>

  <div id="doc-tty-container">
    <playground-doc-pane id="doc-container" params="doc: docParams"></playground-doc-pane>
    <playground-term-pane id="tty-pane"></playground-term-pane>
  </div>

  <div id="footer-container">
    <playground-footer params="vmState: vmState, compilerStateParams: compilerStateParams"></playground-footer>
  </div>
</div>
