<div id="layout">
  <div id="navbar-container">
    <div class="navbar navbar-default" role="navigation" data-bind="style: { marginTop: navbarTopMargin }">
        <div data-bind="if: showLessonNavigation" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right"> <!-- TODO: Add these classes to lesson-navigation-pager -->
            </ul>
            <lesson-navigation-pager params="activityData: activityData"></lesson-navigation-pager>
        </div>
    </div>
  </div>

  <div id="code-container">
    <editor
      params="autoindent: editorParams.autoindent,
        highlightLine: editorParams.highlightLine,
        showInvisibles: editorParams.showInvisibles,
        theme: editorParams.theme,
        fontSize: editorParams.fontSize,
        availableAceThemes: editorParams.availableAceThemes,
        initialEditorText: editorParams.initialEditorText">
    </editor>
  </div>

  <div id="doc-tty-container">
    <div id="doc-container"></div>
    <div id="tty-pane">
    </div>
  </div>

  <div id="footer-container">
  </div>
</div>
