/**
 * Styles for the Playground
 */








#doc-container {
    padding: 5px;
}

#doc-container > h3 {
    margin-top: 0px;
}

#editor-container {
    border: 0px;
}


/* tty full screen support */
#tty-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

#tty-container-two {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 100;
    display: none;
}

body {
    overflow: hidden;
}

#tty0 {
    width: 100%;
    height: 100%;
}

#tty1 {
    width: 100%;
    height: 100%;
}

.tty-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}

.tty-buttons > button {
    float: right;
}




.compile-status-label-text-error {
    color: $brand-danger;
}

.compile-status-label-text-warning {
    color: darken($brand-warning, 20%);
}

.vm-state-span {
    display: inline-block;
    width: 70px;
}
